<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Genome Constellation</title>

    <script type="text/javascript" src="scripts/jquery.v1.12.4.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="scripts/jscolor.js"></script>

    <script type="text/javascript" src="scripts/vivagraph.js"></script>
    <script type="text/javascript" src="scripts/d3.js"></script>

    <script type="text/javascript" src="scripts/circleNodeShader.js"></script>
    <script type="text/javascript" src="scripts/color.js"></script>

    <script type="text/javascript" src="scripts/main.js"></script>

    <script type="text/javascript" src="scripts/webgl_selection_overlay.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script type="text/javascript">

        /*
         *  To optimize web ui performance
         *  Test data set :
         *      data nodes - 7449
         *      data links - 1125843
         *      text file loading time - 2 sec
         *      add nodes to graph - 83msec
         *      add all links - 18 sec
         *      remove low link nodes of graph - 6 sec
         *
         */

        let busy_timer = null

        // data controls
        let USE_INIT_POS = true    // flag to use pre-computed locations
        let USE_LINKS = true       // for debuging
        let zoomaction = false
        let CHECK = '&#x2713;'
        let HAPPY = '&#9786;'
        let UNCHECK = '&#9747;'
        let GROUP_SELECT_COLOR = '#80ffff'
        let GROUP_UNSELECT_COLOR = '#fff'
        let ON_COLOR = 'yellow'
        let OFF_COLOR = 'gray'

        let COLOR_PICKER_TAX = 1
        let COLOR_PICKER_CANVAS = 2
        let COLOR_PICKER_LINK = 3
        let colorPickerMode = COLOR_PICKER_TAX    // taxon color or canvas color

        let USER_DATA_LABEL = 'User Data'
        let GROUP_TAG = 'group'

        // link display:
        let show_links = false;

        let userDataNodes = {}
        let userDataLinks = {}
        let searchedNodeIdList = null
        let restoreShowLink = false
        let toChangeColorThis = null

        let startTime;

        let appDataNodes = []  // will hold node list
        let USER_DATA_JSON = '' // '/data/Antarctic.json'
        let link_file_cnt = 0
        let NODE_JSON_FILE = 'data/nodes.json'
        let LINK_JSON_FILE = {'data/links_0.json' : {'id': 'links_0', 'json' : null} }

        let LINK_FILE_TOTAL = Object.keys(LINK_JSON_FILE).length

        let addLinkWorkerMax = 2
        let addLinkWorkerCnt = 0
        let linkJsonFiles = Object.keys(LINK_JSON_FILE)
        let linkFileFetchedCnt = 0
        let totalLinkAdded = 0
        let addLinkLock = false
        let hiddenGroupName = {}

        $().ready(function () {

            initControlPanel()

            $('#config input[type=text]').keyup(function(e){ if (e.keyCode==13) { updateUniverse($(this).attr('id')) }})    // return | enter key on input
            $('#config select').change(function(){ updateUniverse($(this).attr('id')) })

            $('#config, .tab, #toolbox, #colorpanel-top').mousedown(function(e) {e.stopPropagation()})   // so drag on config panel will not drag graph

            busy(true, "Initializing ...")
            JGI.init_display("viewport", 'taxon-text')

            $('#viewport canvas').css('width', '100%').css('hight', '100%')

            $( window ).resize(onWindowResize);
            onWindowResize()

            startTime = Date.now()
            if (USE_LINKS) {
                fetchLinks()
            }

            //-- load nodes from server
            $("#node-count").html("Fetching nodes ...")
            loadNodesAndAddToGraph()
            
            //install_search_auto_complete()
            $('#search-val').keypress(function(e) {
                if(e.which == 13) { //enter key
                    doSearch()
                }
            });

            // hide the scroll bar in fullscreen mode
            $("html").css("overflow", "hidden");

            // install the user local data loading file selector event handler
            document.getElementById('file-input').addEventListener('change', loadLocalUserData, false)

            // update the link color change icon display - use invert color on label
            let color = "#"+JGI.linkColor.substr(2,6)  // from "0xRRGGBB" to "#RRGGBB" format
            $('#link-color').css('background-color', color).css('color', invertColor(color))

            // update the dimAlpha
            $('#dim-alpha').val(parseInt(JGI.dimAlpha, 16)/255.0)
            $('#link-alpha').val(parseInt(JGI.linkAlpha, 16)/255.0)

        })

        function load_user_data() {
            
            // convert the jsonstr back to object:
            udata = "{{ userdata }}"
            udata = JSON.parse(udata.replace(/&#39;/g, '"')) // fix double quote
            let ulabel = "{{label}}"
            ulabel = ulabel.replace(/&#39;/g, '"')
            // loadUserDataTool(udata, LABEL, FILE_NAME, ST) // can mod the to rm FILE_NAME and ST
            loadUserDataTool(udata, ulabel, '', '') // can mod the to rm FILE_NAME and ST
        }
        
        function install_search_auto_complete(){
            console.log('install_auto_complete')
            $('#search-val').autocomplete({
                source: function( request, response ) {
                    $('#search-val').addClass('busy')
                    let atype = $('#search-select').val()
                    let sfor = $('#search-val').val()
                    let data = JGI.findValueList(atype, sfor)
                    $('#search-val').removeClass('busy')
                    response(data)
                },
                minLength: 2,
                select: function(event, ui) {
                    $('#search-val').val(ui.item.label)
                    //do search here?
                }
            });
        }

        function fetchLinks(){
            let msgHTML = ""
            let aid
            let delay = 50
            for (let n=0; n<linkJsonFiles.length; n++){
                let linkfile = linkJsonFiles[n]
                let domid = LINK_JSON_FILE[linkfile]['id']
                msgHTML += '<span id="' + domid + '"></span></br>'
                if (n == 0){
                    aid = domid
                }


                //create separate worker thread for each fetch:
                let worker = new Worker("fetchJSON.js")
                worker.addEventListener('message', function(e){
                    if (e.data.errors){
                        alert(e.data.file_name + "\n\n" + e.data.errors)
                    } else {
                        //console.dir(e)
                        let fname = e.data.file_name
                        let dt = Date.now() - startTime
                        let msg = 'link file fetched in ' + dt + 'ms'
                        console.log(msg)

                        let dataLinks = null
                        if (Array.isArray(e.data.data)){
                            dataLinks = e.data.data
                        } else if (e.data.data.links){
                            dataLinks = e.data.data.links
                        }

                        if (dataLinks){
                            let dt = Date.now() - startTime
                            link_file_cnt++
                            let colorStr = JGI.color(linkfile)
                            let msg = 'link file fetched (' + link_file_cnt + ' out of ' + LINK_FILE_TOTAL + ') in ' + dt + 'ms...'
                            if (link_file_cnt == LINK_FILE_TOTAL){
                                colorStr = "#fff"
                                msg = 'link file fetched (' + link_file_cnt + ' out of ' + LINK_FILE_TOTAL + ') in ' + dt + 'ms'
                            }

                            //$('#link-msg').html('link file ' + linkfile + ' fetch done in (ms) ' + dt + '; with link count of ' + dataLinks.length).css('color', colorStr)
                            $('#link-msg').html(msg).css('color', colorStr)
                            LINK_JSON_FILE[linkfile]['json'] = dataLinks
                        } else {
                            console.log('link file ' + linkfile + ' fetch done in (ms) ' + dt + '; returned unexpected data structure : ' + e.data.data)
                        }
                    }

                })

                //trigger fetch
                worker.postMessage(linkfile)
            }
            $('#link-counts').html(msgHTML)
            $('#link-msg').html("Loading links ...")
            addlinksToGraph()
        }

        //--
        function initControlPanel(){
            let viewParam = JGI.VIEW_PARAM
            for (let prop in viewParam) {
                $("#" + prop).val(viewParam[prop])
            }
        }
        //

        //- rebuild the genome color legend ui (when tax level changes)
        function buildColorLegend(reset){
            $('#color-legend-table').html('')
            let html = ""
            let nmeta = JGI.nodeMeta

            let kyes = Object.keys(nmeta).sort()

            for (let n=0; n<kyes.length; n++){
                let kname = kyes[n]
                if (kname.toLowerCase() == "user data"){
                    continue
                }
                let clr = nmeta[kname].color
                let cnt = nmeta[kname].count

                html += [   '<tr>',
                            colorLegendTaxTd(cnt, kname),
                            colorLegendColorTd(kname, clr, CHECK),
                            '</tr>'
                        ].join('')
            }

            $('#color-legend-table').html(html)

            let groupname = $('#taxLevel').val()
            if ( (groupname in hiddenGroupName) || ( USER_DATA_LABEL in hiddenGroupName)) {
                $("#global-select").html("").attr('value', 'off')
            } else {
                $("#global-select").html(CHECK).attr('value', 'on')
            }

            insertUserDataRowToColorLegendTable(reset)

            syncColorLegendUI()
        }
        //- legend build helper : return the genome name td of the legend row
        function colorLegendTaxTd(datcnt, label){
            let aClass = 'selected'
            let td = ['<td colspan=2 class="taxname ' + aClass + '" title="data points : ' + datcnt + '" onclick="onColorLegendSelection(this)">',
                      label,
                      '</td>'
                     ].join('')
            return td
        }
        //- legend build helper : return the change-color icon td of the legend row
        function colorLegendColorTd(label, color, mark){
            let td = ['<td class="edit-color-container" onclick="changeNodeColorDialog(this)">',
                      '<div class="g-color" style="background-color:' + color + ';" title="' + label + ' Color">' + mark + '</div>',
                      '</td>'
                     ].join('')
            return td
        }
        //

        // legend builder helper: insert user data row into the front of the color legend table
        function insertUserDataRowToColorLegendTable(reset, label){

            function insertToHead(label, color){   // label must be an existing key in userDataNodes
                let cnt = userDataNodes[label]['data'].length
                let html = [    '<tr id="user-data">',
                            colorLegendTaxTd(cnt, label),
                            colorLegendColorTd(label, color, CHECK),
                            '</tr>'
                        ].join('')

                $('#color-legend-table tr:first').before(html)
            }

            if ( !$.isEmptyObject(userDataNodes) ){
                let color = '#fff'
                if ( label ){
                    insertToHead(label, color)
                } else {
                    let cnt = 0
                    for (key in userDataNodes){
                        cnt++
                        if ( reset || !(key in hiddenGroupName ) ){
                            insertToHead(key, userDataNodes[key].color)
                        }
                    }
                }

                syncColorLegendUI()
            }
        }
        //

        //- helper to sync the genome legend ui
        function syncColorLegendUI(){
            $('#color-legend-table').css('min-width', 110)
            $('#colorpanel-control').width($('#colorpanel-data').width())
            $('#global-select-td').css('padding-right', $('#colorpanel-data').width()-$('#colorpanel-data')[0].scrollWidth + 4)
            //match div height
            let padding = $('#colorpanel-top').prop('padding')
            if (!padding){
                padding = 0
            } else {
                padding = parseInt(padding.slice(0,s.length-2))
            }
            //hard code
            padding = 2 // padding for #colorpanel-top
            let nheight = $('#legend-container').height() + $('#colorpanel-data').height() + 2 * padding
            $('#colorpanel-top').css('height', nheight)

        }
        //

        //- the genome legend click handler - hide/show genome
        function onColorLegendSelection(self){
            console.log("onColorLegendSelection")
            let tax = $(self).html()
            let hide = $(self).hasClass('selected')

            stopSimulation()
            setTimeout(()=>{JGI.showSubNodes(tax, hide)}, 20)   // so the animation fully stops, and hide effect can apply

            let groupname = $('#taxLevel').val()
            if (hide){
                $(self).removeClass('selected').addClass('deselected').css('background-color', GROUP_UNSELECT_COLOR).siblings().find('.g-color').html(UNCHECK)

                if (tax == USER_DATA_LABEL){
                    hiddenGroupName[tax] = 1
                } else {
                    if ( !(groupname in hiddenGroupName) ){
                        hiddenGroupName[groupname] = 1
                    } else {
                        hiddenGroupName[groupname] += 1
                    }
                }
            } else {
                $(self).removeClass('deselected').addClass('selected').css('background-color', GROUP_SELECT_COLOR).siblings().find('.g-color').html(CHECK)
                if (tax == USER_DATA_LABEL){
                    delete hiddenGroupName[tax]
                } else {
                    hiddenGroupName[groupname] -= 1
                    if (hiddenGroupName[groupname] == 0){
                        delete hiddenGroupName[groupname]
                    }
                }
            }

            if ( ( tax == USER_DATA_LABEL && USER_DATA_LABEL in hiddenGroupName) || (groupname in hiddenGroupName) ) {
                $("#global-select").html("").attr('value', 'off')
            } else {
                $("#global-select").html(CHECK).attr('value', 'on')
            }
            syncColorLegendUI()
        }
        //

        /*
         * - the color picker helpers:
         */
        //- tax change-color icon click handler
        function changeNodeColorDialog(self){
            if ($('#color-picker-topmost-div').is(':visible') && toChangeColorThis == self) {
                colorPickerClose()
            } else {
                colorPickerMode = COLOR_PICKER_TAX
                stopSimulation()
                toChangeColorThis = self
                let taxname = $(self).parent('tr').find('td.taxname').html()

                // make the color legend panel background solid
                $('#colorpanel-top').removeClass('colorpanel-container').addClass('colorpanel-container-solid')

                $('#jscolor-host')[0].jscolor.show()

                let pos = $(self).offset()
                let tdheight = $(self).height()
                let viewHeight = $('#viewport canvas').height()
                let yshift = 2 // position color picker below td
                let xshift = 12 // position color picker by to right of td left
                let pickerHeight = $('#color-picker-topmost-div').height() + $('#color-container').height()

                let top = pos.top + tdheight + yshift
                if (pos.top + tdheight + yshift + pickerHeight > viewHeight-10) {
                    top = pos.top - pickerHeight - yshift + 10
                }
                let left = pos.left + xshift
                let color = rgb2hex($(self).find('.g-color').css('background-color'))
                updateColorPickerUI(top, left, color, taxname)
            }
        }
        //-change background color icon click handler
        function changeCanvasColorDialog(atype) {
            if ($('#color-picker-topmost-div').is(':visible') && toChangeColorThis == atype ){
                colorPickerClose()
            } else {
                colorPickerMode = COLOR_PICKER_CANVAS
                toChangeColorThis = atype
                let aid = '#canvas-bg-color'
                let label = 'Canvas color'
                if (atype == 'link') {
                    aid = '#link-color'
                    label = 'Link color'
                    colorPickerMode = COLOR_PICKER_LINK
                }
                let pos = $(aid).offset()
                let height = $(aid).height()
                let width = $(aid).width()

                // make the color legend panel background solid
                $('#colorpanel-top').removeClass('colorpanel-container').addClass('colorpanel-container-solid')
                $('#jscolor-host')[0].jscolor.show()

                let top = pos.top + height + 4
                let left = pos.left + width + 4
                let color = rgb2hex($(aid).css('background-color'))

                updateColorPickerUI(top, left, color, label)
            }
        }
        //- refactored function : init color picker dialog UI
        function updateColorPickerUI(top, left, color, label) {
                label += '|' + color
                $('#color-picker-topmost-div').css('top', top).css('left', left).show()

                let txtcolor = invertColor(color)
                $('#color-selected').css('background-color', color).css('color', txtcolor).html(label)
                $('#cancel-color-picker').click(colorPickerClose)
        }
        //- callback for new color picked
        function colorPickerCallback(picker){
            let color = "#"+picker.toString()
            let ncolor = "0x"+picker.toString()
            if (colorPickerMode == COLOR_PICKER_TAX) {

                $(toChangeColorThis).find('.g-color').css('background-color', color)

                let aname =  $(toChangeColorThis).parent('tr').find('td.taxname').html()
                JGI.setNodeColor($('#taxLevel').val(), aname, ncolor)
                if (aname.toLowerCase().indexOf('user-') === 0){
                    userDataNodes[aname]['color'] = color
                }
            } else {
                let aid = null
                if (colorPickerMode == COLOR_PICKER_CANVAS) {
                    aid = '#canvas-bg-color'
                    $('#viewport canvas, #canvas-bg-color').css('background-color', color)
                } else if (colorPickerMode == COLOR_PICKER_LINK) {
                    aid = '#link-color'
                    JGI.setLinkColor(ncolor)
                    $('#link-color').css('background-color', color)
                }

                if (aid) {
                    let txtcolor = invertColor(color)
                    $(aid).css('color', txtcolor)
                }
            }
        }
        //- close icon on color picker dialog clicked.
        function colorPickerClose(){
            // restore the color legend panel hover behavior when the color picker is turned off
            $('#colorpanel-top').removeClass('colorpanel-container-solid').addClass('colorpanel-container')
            $('#color-picker-topmost-div').hide()
            toChangeColorThis = null
        }
        //----

        // the color legand ALL radio button click
        function showAllNodes(){
            let val = $("#global-select").attr('value')
            //console.log("showAllNodes : " + val)
            stopSimulation()
            if (val === 'on') { // toggle from ON to OFF
                $("#global-select").html("").attr('value', 'off')
                $('.taxname').removeClass('selected').addClass('deselected').css('background-color', GROUP_UNSELECT_COLOR).parent().find('.g-color').html(UNCHECK)
                JGI.showSubNodes('all', true)   // hide all
            } else if (val === 'off') { // toggle from OFF to ON
                $("#global-select").html(CHECK).attr('value', 'on')
                $('.taxname').removeClass('deselected').addClass('selected').css('background-color', GROUP_SELECT_COLOR).parent().find('.g-color').html(UNCHECK)
                resetSelection()
            }
            syncColorLegendUI()
        }
        // showAllNodes helper
        function resetSelection(){
            // clear hidden name record:
            for (name in hiddenGroupName){
                delete(hiddenGroupName[name])
            }

            JGI.showSubNodes('all', false)   // show all

            // reset user data if exists
            if ( !$.isEmptyObject(userDataNodes) ){
                setTimeout(()=>{JGI.showSubNodes(USER_DATA_LABEL, false)}, 20)
            }

            buildColorLegend(true)
            JGI.rerender()
        }
        //

        //- initialize UI
        function initTabAndToolUI(){
            function toggleConfigTool(hide){
                if (hide){
                    $('#config-tab').hide("slide", { direction: "right" }, 500);
                    $('#config').show("slide", { direction: "right" }, 500);
                } else {
                    $('#config').hide("slide", { direction: "right" }, 500);
                    $('#config-tab').show("slide", { direction: "right" }, 500);
                }
            }

            $('.tab').mousedown(function(e){
                let id = $(this).prop('id')
                if (id == 'config-tab'){
                    if (!JGI.addRefLinkCompleted){
                        alert("Please try again after all links be added.")
                    } else {
                        toggleConfigTool(true)
                    }
                }
            })

            $('.show-info').mousedown(function(e){
                let id = $(this).prop('id')

                if (['help', 'color-legend'].indexOf(id) > -1){
                    $('#info-tab').hide("slide", { direction: "left" }, 500);
                    if (id == 'help'){
                        $('#colorpanel-top').hide("slide", { direction: "left" }, 500);
                        $('#usage').show("slide", { direction: "left" }, 500);
                    } else if (id == "color-legend"){
                        $('#usage').hide("slide", { direction: "left" }, 500);
                        $('#colorpanel-top').show("slide", { direction: "left" }, 500, syncColorLegendUI);
                    }
                }
            })

            $('.dismiss').click(function(e){
                let id = $(this).prop('id')
                if (['dismiss-usage', 'dismiss-color'].indexOf(id) > -1){
                    if(id=='dismiss-usage'){
                        $('#usage').hide("slide", { direction: "left" }, 500);
                    } else if (id == "dismiss-color"){
                        $('#colorpanel-top').hide("slide", { direction: "left" }, 500);
                        colorPickerClose()
                    }

                    $('#info-tab').show("slide", { direction: "left" }, 500);
                } else if (id == 'dismiss-tool'){
                    toggleConfigTool(false)
                }
            })

            $('#sub-tool').click(function(e){
                let src = $(this).prop('src')
                if (src.indexOf('arrow_down20x20') > -1){
                    $('#advanced').show("slide", { direction: "up" }, 500);
                    $(this).prop('src', 'images/arrow_up20x20.png').prop('title', 'hide advanced settings')
                } else {
                    $('#advanced').hide("slide", { direction: "up" }, 500);
                    $(this).prop('src', 'images/arrow_down20x20.png').prop('title', 'advanced settings')
                }
            })

            // install zoom hanlder
            $('.tools').mousedown(function(e){
                e.preventDefault()
                let delay = 20
                zoomaction = true
                if ($(this).hasClass('zoomin')){
                    (function zoomin(){
                        if (!zoomaction) { return}
                        JGI.zoomIn()
                        setTimeout(zoomin, delay)
                    })()

                } else if ($(this).hasClass('zoomout')){
                    (function zoomout(){
                        if (!zoomaction) { return}
                        JGI.zoomOut()
                        setTimeout(zoomout, delay)
                    })()

                } else if ($(this).hasClass('zoomfit')){
                    JGI.fitScreen()
                } else if ($(this).hasClass('export')){
                    export_data()
                } else if ($(this).hasClass('import')){
                    import_data()
                }

                return false
            })

            $('.tools').mouseup(function(){
                zoomaction = false
                return false;
            });

            $('.tools').mouseout(function () {
                //clearInterval(timeout);
                zoomaction = false
                return false;
            });

            $('.control-label').css('font-family', 'arial')
        }
        //

        //- window resize event handler
        function onWindowResize(){
            let width = $(window).outerWidth()
            let height = $(window).outerHeight()    //entire window height (even with scroll)

            let top = Math.round(height/2)

            // fit webgl view to same size of the new body client window
            if (JGI.addNodesToGraphState == 1) {
                JGI.fitScreen()
            }

            $('#color-picker-topmost-div').hide()
        }
        //

        // add event listerners for web ui user interaction
        function install_listeners(){
            document.addEventListener('keydown', function (e) {
                switch(e.which){
                    case 32 :   // spacebar
                        toggleSimulation()
                        break;
                    case 16 :   //shift key
                        JGI.setShiftKey(true)
                        break;
                    case 76 : // l
                        toggleShowLink()
                        break
                }

            });

            document.addEventListener('keyup', function(e){
                if (e.which == 16){     // shift key
                    JGI.setShiftKey(false)
                }
            })
        }
        //

        //- show/hide the Simulation function
        function toggleSimulation(){
            JGI.toggleSimulation()
            if (JGI.inSimulation()){
                $("#run-stop").html("Simulation ON").css('color', ON_COLOR)
            } else {
                $("#run-stop").html("Simulation OFF").css('color', OFF_COLOR)
            }
        }
        //

        //- helper to stop simulation; do nothing if not in run state
        function stopSimulation() {
            if (JGI.inSimulation()){
                JGI.toggleSimulation()
                $("#run-stop").html("Simulation OFF").css('color', OFF_COLOR)
            }
        }
        //

        //- show/hide the Show Links function
        function toggleShowLink(){
            if (!show_links){
                clearSearchData(false)
            }

            show_links = JGI.toggleShowLink()
            if (show_links) {
                $("#show-link").html("Show link ON").css('color', ON_COLOR)
            } else {
                $("#show-link").html("Show link OFF").css('color', OFF_COLOR)
            }
        }
        //---------------------

        // load reference genome node file (NODES.JSON) from server, and add all nodes to graph
        function loadNodesAndAddToGraph() {
            let st = Date.now()
            console.log("fetch all nodes file " + NODE_JSON_FILE + " from server...")
            $.ajax({
                dataType: "json",
                async: true,
                url: NODE_JSON_FILE,
                success: function(response) {
                    let dt = Date.now() - st
                    console.log('Nodes retrival time (ms): ' + dt)
                    if (Array.isArray(response)){
                        appDataNodes = response
                    } else if (response.nodes){
                        appDataNodes = response.nodes
                    }
                    console.log('nodes = ' + appDataNodes.length)

                    //- add nodes
                    $("#node-count").html("Obtained " + appDataNodes.length + " data nodes")

                    let hasXY = false
                    if (NODE_JSON_FILE.indexOf('updatedpos') > -1){     //-- the node json file containing node coordinates !!
                        hasXY = true
                    }
                    //console.dir(appDataNodes[0])

                    let ok = JGI.addNodes(appDataNodes, 'ref', addNodesCallback, hasXY)
                    if (ok) {
                        $("node-count").html("Total added nodes : ")
                        $('#taxLevel').val('class')
                        updateUniverse('taxLevel')
                        ref_nodes_ready()
                    }
                },
                error: function(xhr, ajaxOptions, thrownError){
                    dt = Date.now() - st
                    console.log('all node fetch error (ms) ' + dt)
                    addNodesToGraphState = -2
                }
            });
        }
        // init app ui after nodes load complete
        function ref_nodes_ready(){
            busy(false)
            JGI.resume()
            install_listeners()
            initTabAndToolUI()
            buildColorLegend()
        }
        //

        //- callback of JGI.addNodes for updating web ui
        function addNodesCallback(obj){
            let nodes = obj.nodes
            let refs = obj.refs
            $("#node-count").html("Total added nodes : " + nodes + " (ref " + refs + ")")
        }
        //--------------

        //- the callback for add-link-in-user-data progress event
        function addUserDataLinksCallback(obj){
            let msg = obj
            if (obj.percent){
                msg = "User data links added " + obj.percent + "%"
                $('#glass-text').html(msg)
            } else if (obj.total){
                msg = "User data total links added " + obj.total
                if (restoreShowLink){
                    toggleShowLink()
                    resumeSimulation()
                    //if (!JGI.inSimulation()) {
                    //    toggleSimulation()
                    //}
                }
                busy(false)
            }
        }
        //

        //
        function resumeSimulation(args) {
            if (!JGI.inSimulation()) {
                toggleSimulation()
            }
        }
        //
        //- helper function to return a base name of the user data file; for UI display purpose
        function userDataFileToLabel(ufile){
            let label = ufile
            if ( label.indexOf('.json') > -1 ) {
                label = ufile.split('.json')[0]
            }
            if ( label.indexOf('/') != -1 ){
                label = label.split('/')
                label = label[label.length-1]
            } else if ( label.indexOf('\\') != -1 ){
                label = label.split('/')
                label = label[label.length-1]
            }
            //return 'USER-'+label
            return label
        }
        //

        //- loading user data from server-side files
        function fetchUserData(uurl){
            // remove Show link - else user data also automitically show links
            restoreShowLink = show_links
            if (show_links){
                toggleShowLink()
            }

            if (true || uurl == undefined){
                uurl = USER_DATA_JSON
            }
            let st = Date.now()
            console.log("fetch user data " + uurl + " from server...")

            $.ajax({
                dataType: "json",
                async: true,
                url: uurl,
                success: function(response) {
                    let udataLabel = userDataFileToLabel(uurl)
                    loadUserDataTool(response, udataLabel, uurl, st)
                    busy(false)

                },
                error: function(xhr, ajaxOptions, thrownError){
                    dt = Date.now() - st
                    console.log('all node fetch error (ms) ' + dt)
                    addNodesToGraphState = -2
                    busy(false)
                }
            });
        }
        //

        //- the web worker message handler for loading reference genome links
        function addlinksToGraph() {
            if (linkFileFetchedCnt >= linkJsonFiles.length){
                console.log('DEBUG all links added!')
                console.log("loading user data.. ")
                load_user_data()
                return
            }

            if (!addLinkLock && JGI.addNodesToGraphState == 1) {
                let fname
                let json = null
                for (let n=0; n<linkJsonFiles.length; n++){
                    fname = linkJsonFiles[n]
                    if ( !('added' in LINK_JSON_FILE[fname]) ){
                        json = LINK_JSON_FILE[fname]['json']
                    }
                    if (json){
                        break
                    }
                }
                if (json){
                    addLinkLock = true
                    JGI.addLinks(fname, json, true, addlinksCallback, 50)
                }
                setTimeout(function(){addlinksToGraph()}, 20)
            } else if (JGI.addNodesToGraphState == -2) {
                console.log("addNodesToGraphState Bad: skip")
                return
            } else {
                if (JGI.addNodesToGraphState != 1){

                } else {
                    //console.log("wait on lock")
                }

                setTimeout(function(){addlinksToGraph()}, 20)
            }
        }
        //

        //- callback function of add link progress actions
        function addlinksCallback(obj){
            let msgHead = "(" + (linkFileFetchedCnt+1) + " out of " + linkJsonFiles.length + ") " + obj.links + " links in " + obj.filename + " are added : "
            let msg = msgHead
            if (obj.percent){
                msg += obj.percent + "%"
                $('#link-progress').html(msg)
            } else if (obj.total){
                msg += "100% (" + obj.total + ")"
                $('#link-progress').html(msg)
                linkFileFetchedCnt++
                addLinkWorkerCnt--
                totalLinkAdded += obj.total

                LINK_JSON_FILE[obj.filename]['added'] = true
                addLinkLock = false
            }

            if (linkFileFetchedCnt == linkJsonFiles.length){

                $("#link-count").html("Total added links : " + totalLinkAdded)
                ref_links_ready()
            }
        }
        //- ref link add helper : init app UI after all added
        function ref_links_ready(){
            transferTD2info('node-count')
            $("#node-count").remove()
            transferTD2info('link-count')
            $("#link-count").remove()

            JGI.setAddLinkStatus(true)

            // links are all added, we can turn on tools
            $('#aniCutOff').val(JGI.linkValMin)
            toggleShowLink()
            resumeSimulation()
            //if (!JGI.inSimulation()) {
            //    toggleSimulation()
            //}
            $('#config-tab').show("slide", { direction: "right" }, 500);
            $('#info-tab').show("slide", { direction: "left" }, 500);
            $("#show-link, #run-stop").show()
        }
        //- ref_links_ready helper
        function transferTD2info(tdid){ // move the node/link stats info into the "Info" ui
            let html = [    '<tr><td>',
                            $('#'+tdid).html(),
                            '</td></tr>'
                        ].join('')
            $('#key-val-info').find('tbody').append(html)
        }
        //-------------

        //- helper function for updating the min ANI (Average Nucleotide Identity) value for showing links
        function postANI(data) {
            let linkValRange = ' Value Range (' + JGI.linkValMin + ', ' + JGI.linkValMax + ')'
            if ('pct' in data) {
                $('#glass-text').html('Updating minimum similarity threshold : ' + data.pct + '% completed' )
            } else if ('total-removed' in data) {
                busy(false)
                let txt = 'No link values < ' + $('#aniCutOff').val() + '. All links are used for simulaiton.'
                if (data['total-removed'] > 0) {
                    txt = 'Total of ' + data['total-removed'] + ' edges are less than the cutoff value and will be left out for the following simulation.'
                }
                txt += linkValRange
                //setTimeout(()=>{alert(txt)}, 20)
                //console.log(txt)
                resumeSimulation()
                //if (!JGI.inSimulation()) {
                //    toggleSimulation()
                //}
            }
        }
        //

        //- dom input (in config ui) enter event handler to update global params
        function updateUniverse(aid){
            if (aid){
                let val = $('#'+aid).val()
                console.log("updateUniverse : " + aid + "; val=" + val)

                if (aid === "aniCutOff"){
                    //let st = Date.now()
                    let ani = parseFloat(val)
                    if (ani >= JGI.linkValMin && ani <= JGI.linkValMax) {
                        stopSimulation()
                        busy(true, "updating ANI values .... ")
                        JGI.update_ani(ani, postANI)
                    } else {
                        let msg = 'Your value ('+ ani +') is not in current data value range (' + JGI.linkValMin + ', ' + JGI.linkValMax + ')'
                            msg += '. Please try a different ANI vaule'
                        alert(msg)
                        $('#aniCutOff').val(JGI.linkValMin)
                    }
                } else if (aid == "dim-alpha" || aid == "link-alpha") {

                    if ( !isNumber(val) ) {
                        alert('Opacity must be a number and must be >=0 and <=1')
                    }
                    val = parseFloat(val)
                    if (val < 0 || val > 1){
                        alert('Opacity value must be >=0 and <=1')
                    }

                    let hex = opacity2hex(val)
                    if (aid == 'dim-alpha') {
                        JGI.setDimAlpha(hex)
                    } else if (aid == 'link-alpha') {
                        JGI.setLinkAlpha(hex)
                    }
                } else {
                    let univx = parseInt($('#universerx').val())
                    let univy = parseInt($('#universery').val())

                    let needSimulate = JGI.updateUniverseSize(univx, univy)

                    if (["nodeSize"].indexOf(aid) > -1){    // int value
                        needSimulate = JGI.setConfigValue(aid, parseInt(val), needSimulate )
                    } else if (["springCoeff", "antigravity"].indexOf(aid) > -1){   // float value
                        needSimulate = JGI.setConfigValue(aid, parseFloat(val), needSimulate)
                    } else {    // string values
                        needSimulate = JGI.setConfigValue(aid, val, needSimulate)
                    }

                    if (aid == "taxLevel"){
                        buildColorLegend()
                    }

                    if (needSimulate){
                        resumeSimulation()
                        //if (!JGI.inSimulation()) {
                        //    toggleSimulation()
                        //}
                    } else {
                        JGI.rerender()
                    }
                }
            }
        }
        function isNumber(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }
        //

        //- dom input change event handler for local user data upload
        function loadLocalUserData(evt){
            restoreShowLink = show_links
            if (show_links){
                toggleShowLink()
            }

            $("#data-dialog").dialog('close')   // close the importing dialog

            let files = evt.target.files; // FileList object
            busy(true, 'Loading User data ...')

            // Loop through the file list from input DOM.
            for (let i = 0, f; f = files[i]; i++)
            {
                let st = Date.now()
                let reader = new FileReader();
                reader.onload = (function(reader, file)
                {
                    return function()
                    {
                        let contents = reader.result;
                        let jdata = JSON.parse(contents)

                        let udataLabel = userDataFileToLabel(file)
                        loadUserDataTool(jdata, udataLabel, file, st)
                    }
                })(reader, f.name);

                //console.dir(f)
                reader.readAsText(f);
            }
        }

        // the common tool for adding user data to graph
        function loadUserDataTool(jdata, udataLabel, file, st){
            let ngroups = split_json_nodes(jdata.nodes, udataLabel);

            if (Object.keys(ngroups).length > 0){
                let dt = Date.now() - st

                let tags = Object.keys(ngroups)
                for (let idx in tags){
                    tag = tags[idx]
                    console.log(`Local file ${tag} retrival time (ms): ${dt}`)
                    let curNodeCnt = JGI.graph.getNodesCount()
                    console.log(`Adding LOCAL data nodes : ${ngroups[tag].length}`);

                    let userTag = `user-${tag}`
                    JGI.addNodes(ngroups[tag], userTag);
                    let nodeCnt = JGI.graph.getNodesCount()
                    if (nodeCnt > curNodeCnt){  // some nodes are added to graph
                        userDataNodes[userTag] = {'data': ngroups[tag], 'color': '#ffffff'}
                        insertUserDataRowToColorLegendTable(false, userTag)
                    }
                }
                if ('links' in jdata){
                    userDataLinks[udataLabel] = jdata['links']
                    console.log('Adding LOCAL data links : ' + userDataLinks[udataLabel].length)
                    JGI.addLinks(file, userDataLinks[udataLabel], false, addUserDataLinksCallback)
//                    busy(true, 'File loading completed.', true)
                } else if (restoreShowLink){
                    toggleShowLink()
                    resumeSimulation()
                }
            } else {
                console.log("no nodes in user data json file!")
            }
        }

        //- separate nodes basedn on group label
        function split_json_nodes(nodes, tag){
            let node_groups = {};

            //- a local helper
            function add_to_group(anode){
                if (anode[GROUP_TAG] !== undefined){
                    if (node_groups[anode[GROUP_TAG]] === undefined){
                        node_groups[anode[GROUP_TAG]] = [];
                    }
                    node_groups[anode[GROUP_TAG]].push(anode)
                } else {
                    if (node_groups[tag] === undefined){
                        node_groups[tag] = [];
                    }
                    node_groups[tag].push(anode);
                }
            }

            for (let idx in nodes){
                add_to_group(nodes[idx]);
            }
            console.dir(node_groups)
            gDEBUG = node_groups
            return node_groups;
        }
        //

        //- make the busy div to fit current window size
        function stretch_glass(){
            let width = $(window).outerWidth()
            let height = $(window).outerHeight()    //entire window height (even with scroll)
            $('#glass-bg').css('top', 0)
            $('#glass-bg').css('left', 0)

            $('#glass, #glass-bg').width(width)
            $('#glass, #glass-bg').height(height)
        }
        //

        //- show busy state of the application (block user interaction with ui)
        function busy(type, txt, nobusyicon){
            if (txt){
                $('#glass-text').html(txt)
            }

            if (type==true){
                stretch_glass()
                $('#glass-bg, #glass').show()
            } else {
                $('#glass-bg, #glass').hide()
                $('#glass-text').html('')
            }

            if (nobusyicon){
                  $('#glass-text').css('background-image', 'none')
            } else {
                  $('#glass-text').css('background-image', 'url(images/busy.gif)')
            }
        }
        //

        //- export the currently selected genomes
        function export_data(){

            let data = JGI.export_data()
            let title = "Selected Genome NCBI IDs - Found " + data.length + " genome"
            if (data.length > 1){
                title += 's'
            }

            let txt = ''
            if (data.length>0) {
                  for (let i=0; i<data.length; i++){
                      if (txt != ''){ txt += ',' }
                      if (i>0 && i % 10 == 0){ txt += "\n" }
                      txt += data[i]
                  }
            } else {
                txt = 'No selected data!'
            }
            openDialog(title, txt)
        }
        //

        //- import user genomes
        function import_data(){
            let title = "Import User Data"
            openDialog(title, null, 500, 200, true, true)
        }
        //

        //- the common dialog for genome importing and exporting
        function openDialog(title, txt, width, height, resizeOff, localData) {
            if (!width){ width = 800 }
            if (!height){ height = 450 }

            if (resizeOff){ $(window).off("resize") }
            if (localData){ busy(true, 'Choose local file', true) }

            $("#data-dialog").dialog({
                autoOpen: false,
                resizable: false, // prevent resize of the dialog
                width: width,
                height: height,
                modal: true, // show a modal overlay in background
                buttons: {
                    OK: function() {
                        $( this ).dialog( "close" );
                        if (resizeOff){
                            $( window ).resize(onWindowResize)  // reinstall window resize event handler
                        }
                        if (localData){
                            busy(false)
                        }
                    }
                }
            });

            $('div#data-dialog').on('dialogclose', function(event) {
                busy(false)
            })

            if (txt){
                $('#local-file').hide()
                $('#dialog-txt').show().html(txt)
            } else {
                $('#local-file').show()
                $('#dialog-txt').hide()
            }

            $('#data-dialog').parent().find('.ui-dialog-title').html(title)
            $('#data-dialog').dialog("open");
        }
        //

        //- search and highlight found nodes
        function doSearch(){
            clearSearchData(false)
            if ( !($('.search-td').is(':visible')) ){
                $('.search-td').show('slide', { direction: 'up' }, 500)
                //$('#search-pan').css('opacity', 1)
            } else {
                let atype = $('#search-select').val()
                let sfor = $('#search-val').val()
                if (sfor){
                    console.log(`Search for ${sfor}`)
                    searchedNodeIdList = JGI.searchNodeIDList(atype, sfor)
                    if (searchedNodeIdList.length == 0){
                        let txt = "No results for " + atype + " / " + sfor
                        alert(txt)
                    } else {
                        if (JGI.displayLinks) {
                            console.log('call addToNodeOnList with ' + searchedNodeIdList.length)
                            for (let n=0; n<searchedNodeIdList.length; n++){
                                //JGI.showLinks(searchedNodeIdList[n])
                                JGI.addToNodeOnList(searchedNodeIdList[n], true)
                            }
                        } else {
                            JGI.selectNodes(searchedNodeIdList)
                        }

                        if (!JGI.inrun){
                            //console.log('doSearch calls rerender')
                            JGI.rerender()
                            //setTimeout(JGI.rerender(), 2000)
                        }
                    }
                }
            }
        }
        //

        //- reset display when search is cancelled
        function clearSearchData(hideui){
            if (hideui){
                $('.search-td').hide('slide', { direction: 'up' }, 500)
            }
            if (searchedNodeIdList && searchedNodeIdList.length > 0){
                for (let n=0; n<searchedNodeIdList.length; n++){
                    JGI.removeFromNodeOnList(searchedNodeIdList[n])
                }
            }
            searchedNodeIdList = null

            if (!JGI.inrun){
                //console.log('clearSearchData calls rerender')
                setTimeout(JGI.rerender(), 1000)
            }
        }
        //

        //-
        function toggleSingletonDisplay(){
            JGI.hideSingletons($('#hide-singletons').is(':checked'))
        }
        //

        //- convert css RGB color like "rgb(128, 221, 255)" into "#RRGGBB" (color picker requires)
        function rgb2hex(rgb) {
            if (/^#[0-9A-F]{6}$/i.test(rgb)) return rgb;                // if color already in "#RRGGBB" format, return it

            rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
            function hex(x) {
                return ("0" + parseInt(x).toString(16)).slice(-2);
            }
            return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
        }
        //

        //- opacity to hex converter. val = [0, 1] inclusive
        function opacity2hex(val) {
            let dec = Math.floor(val * 255)
            if (dec < 0) { dec = 0 }
            if (dec > 255) { dec = 255 }
            let hex = (dec).toString(16)    // from "00" to "ff"
            if (hex.length == 1) {
                hex = "0" + hex
            }
            return hex
        }

    </script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/tab_and_tool.css" rel="stylesheet">
    <style type="text/css">
        #viewport, body {
            height: 100%;
            width: 100%;
            position: absolute;
            margin: 0px;
            background-color: black;
        }

        .progress-meter .background {
            fill: #ccc;
        }
        .progress-meter .foreground {
            fill: #000;
        }
        .progress-meter text {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 24px;
            font-weight: bold;
        }
        #options {
            opacity: 0.4; /* css standard */
        }

        #options:hover {
            opacity: 0.8; /* css standard */
        }

        .counts{
            color: white;
            font-size: 12px;
            text-align: left;
            color: #fff;
            font-family: Verdana;
            top : 10px;
        }

        .button {
            padding:5px;
            background-color: #dcdcdc;
            border: 1px solid #666;
            color:#000;
            text-decoration:none;
            cursor: pointer;
        }

        .button:hover {
            background: #999
        }

        .toright{
            text-align: right
        }

        .control .universe td{
            padding: 1px;
        }

        #config {
            position : fixed;
            right : -6px;
            top : 40px;
            width : 180px;
            height : auto;
            display : none;
            background-color : #fff;
            padding : 10px;
            opacity: 0.3;
/*            -moz-border-radius : 6px;
            -webkit-border-radius : 6px;
            -khtml-border-radius : 6px;*/
            border-radius : 6px;
            z-index: 1;
        }

        .hide {
            display: none
        }
        .taxname{
            cursor: pointer;
            background-color: #80ffff
        }

        .selected {
            font-weight: bold;
            font-style: italic;
        }

        .deselected {
            font-weight: 100;
            font-style: normal;
        }

        img {
            cursor: pointer
        }

        .g-color {
            border: solid 1px #999
        }

        #glass-bg{
            background-color: #dedede;
            opacity:0.6;
            display:none;
            position:absolute;
            top: 0;
            left: 0;
            vertical-align: middle;
            text-align: center;
        }

        #glass-text {
            width: auto;
            top: 400px;
            display: table-cell;
            vertical-align:middle;
            text-align:left;
            color: #222;
            font-size: 40px !important;
            font-weight: bold;
            padding-left: 40px;
            background-image: url(images/busy.gif);
            background-repeat: no-repeat;
            background-position: left;
            /*background-color: #555;*/
            color : #444;
            /* border: solid 1px; */
        }

        #search-pan{
            position : fixed;
            height : 40px;
            width : auto;
            top : -6px;
            background-color: #fff;
            opacity: 0.4;
            padding: 12px 6px 6px 6px;
            vertical-align : top;
            right : -6px;
            border-radius : 6px;
        }
        #search-pan:hover{
            opacity: 1.0;
        }

        .search-td{
            display: none
        }
        .busy{
            background-image: url(images/busy.gif);
            background-repeat: no-repeat;
            background-position: left;
            background-size: 20px 20px;
        }
    </style>
</head>
<body oncontextmenu="return false;" >
    <!-- the universe viewport -->
    <div id="viewport"></div>
    <!-- div class="graph-overlay"></div -->

    <!-- the help tab and info panel -->
    <span id="info-tab" class="tab left-tab" style="height: 60px; text-align: right; display: none">
        <img id="help" class="show-info" src="images/info20x20.png" title="help info"> </img>
        <img id="color-legend" class="show-info" src="images/colors.png" title="color legend" style="width:20px; height: 20px">
    </span>

    <span id="usage">
        <span class="dismiss-container"><img id="dismiss-usage" class="dismiss" src="images/arrow_left20x20.png" title="hide help info"></img></span>
        <ul class="">
            <li>
                Use mouse wheel to zoom in/out.
            </li>
            <li>
                Use spacebar to stop/resume rendering.
            </li>
            <li>
                Press 'l' key (or click 'Show link' lable) to toggle show/hide links.
            </li>

            <li>
                Click points to show/hide local links (shift+click to show links of multiple nodes).
            </li>
            <li>
                Mouse over points for descriptions.
            </li>
            <li>
                Double click points to show NCBI genome page.
            </li>
        </ul>
        <table id="key-val-info" style="width: 100%"><tbody></tbody></table>
        <br />
        <span id="release" style="font-size: 9px; font-family: Verdana;"> Release @ Wed Dec  6 16:18:50 PST 2017 </span>
    </span>

    <!-- the config tab and tool panel -->
    <img id="config-tab" class="tab right-tab"  style="display:none" src="images/config20x20.png" title="configuration"></img>
    <div id="config">
        <div class="control">
            <table class="universe config-items">
                <tr>
                    <td class="control-label">Universe</td>
                    <td></td>
                    <td style="text-align: left">
                        <span class="dismiss-container">
                            <img id="dismiss-tool" class="dismiss" src="images/arrow_right20x20.png" title="hide"></img>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="toright control-label">Width :</td>
                    <td><input id="universerx" style="width: 80px" value="7000" type="text"></td>
                </tr>
                <tr>
                    <td class="toright control-label">Height :</td>
                    <td><input id="universery" style="width: 80px" value="6000" type="text"></td>
                </tr>
            </table>

            <div id="basic">
                <table class="config-items">
                    <tr>
                        <td class="control-label">Node size : </td>
                        <td>
                            <input id="nodeSize" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td class="control-label" title="Minimum Similarity Cutoff" style="cursor: help; color: rgb(0,0,255)">MSC cutoff : </td>
                        <td>
                            <input id="aniCutOff" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td class="control-label">Tax group : </td>
                        <td>
                            <select id="taxLevel" style="width: 84px; text-align: right;">
                                <option value="superkingdom">superkingdom</option>
                                <option value="phylum">phylum</option>
                                <option value="class">class</option>
                                <option value="order">order</option>
                                <option value="family">family</option>
                                <option value="genus">genus</option>
                                <option value="species">species</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <span class="dismiss-container hide"><img id="sub-tool" class="sub-menu" src="images/arrow_down20x20.png" title="advanced settings"></span>

            <table id="advanced" class="config-items">
                <tr>
                    <td class="control-label">Contraction : </td>
                    <td>
                        <input id="springCoeff" type="text">
                    </td>
                </tr>
                <tr>
                    <td class="control-label">Dispersion : </td>
                    <td>
                        <input id="antigravity" type="text">
                    </td>
                </tr>
                <tr>
                    <td class="control-label" title="opacity for unselected nodes display">Dim Opacity : </td>
                    <td>
                        <input id="dim-alpha" type="text">
                    </td>
                </tr>
                <tr>
                    <td class="control-label" title="opacity for links display">Link Opacity : </td>
                    <td>
                        <input id="link-alpha" type="text">
                    </td>
                </tr>
                <tr>
                    <td colspan=2 class="control-label">Hide Singletons : <input id="hide-singletons" type="checkbox" onclick="toggleSingletonDisplay()"></td>
                </tr>

                <tr class='hide'>
                    <td class="control-label">theta : </td>
                    <td>
                        <input id="theta"  type="text">
                    </td>
                </tr>
                <tr class='hide'>
                    <td class="control-label">dragCoeff : </td>
                    <td>
                        <input id="dragCoeff" type="text">
                    </td>
                </tr>
                <tr class='hide'>
                    <td class="control-label">timeStep : </td>
                    <td>
                        <input id="timeStep" type="text">
                    </td>
                </tr>

                <tr class='hide'><td colspan="100%" style="height: 4px; text-align: center"><hr style="width: 50%; background-color: #666; height: 1px !important; opacity: 1.0"></td></tr>
                <!-- tr>
                    <td class="control-label">User Data : </td>
                    <td colspan=2>
                        <input id="userDataId" type="text" value="1234567">
                        <img class="dismiss" src="images/load.png" title="load" onclick='fetchUserData($("#userDataId").val())'></img>
                    </td>
                </tr -->
            </table>
        </div>
    </div>

    <!-- the node counter and link counter -->
    <table id="count-info" style="width: auto; position:fixed; top: 4px; left : 140px;">
        <tr>
            <td id="node-count"  class="counts" style="white-space: nowrap; vertical-align: text-top"></td>
            <td class="spacer" style="padding-left: 100px"></td>
            <td id="link-count" class="counts" style="width: auto; text-align: left;">
                <span id="link-msg"></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="link-progress"></span> </br>
                <div id="link-counts"></div>
            </td>
            <td class="spacer" style="padding-left: 100px"></td>
            <td id="show-link" class="counts" style="color: gray; cursor: pointer; vertical-align: top; display:none" onclick="toggleShowLink()">Show link OFF</td>
            <td class="spacer" style="padding-left: 100px"></td>
            <td id="run-stop" class="counts" style="color: yellow; cursor: pointer; vertical-align: top; display:none" onclick="toggleSimulation()">Simulation ON</td>
        </tr>
    </table>

    <!-- size control -->
    <table id="toolbox">
        <tr>
            <td><img class="tools import" src="images/import3.png" title="import"></img></td>
        </tr>
        <tr>
            <td><img class="tools export" src="images/export3.png" title="export"></img></td>
        </tr>
        <tr>
            <td><img class="tools zoomfit" src="images/fit20x20.png" title="fit screen"></img></td>
        </tr>
        <tr>
            <td><img class="tools zoomin" src="images/plus20x20.png" title="zoom in"></img></td>
        </tr>
        <tr>
            <td><img class="tools zoomout" src="images/minus20x20.png" title="zoom out"></img></td>
        </tr>
    </table>

    <!-- color legend -->

    <div id="colorpanel-top" class='colorpanel-container'>
        <table id="legend-container" style="border-radius : 18px">
            <tr>
                <td>
                    <table id="colorpanel-control" style="width:auto">
                        <tr>
                            <td style="vertical-align: top;" class='taxname'>
                                <div class="dismiss-container" >
                                    <img id="dismiss-color" class="dismiss" src="images/arrow_left20x20.png" title="hide legend"></img>
                                </div>
                            </td>
                            <td id="background" style="padding: 4px 4px 4px 4px" nowrap>
                                <span id="canvas-bg-color" title="Canvas Color" onclick="changeCanvasColorDialog('canvas')">CC</span>
                                <span id="link-color" title="Link Color" onclick="changeCanvasColorDialog('link')">LC</span>
                            </td>
                            <td style="text-align: right; width: 100%; padding-right: 5px" class='taxname'> All </td>
                            <td id="global-select-td" style="vertical-align : middle; padding-right: 4px" class='taxname'>
                                <div class="g-color" id="global-select" style="background-color: #fff; width: 14px; height:14px" value="on" onclick="showAllNodes()" title="global selection">&#x2713;</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    <div id="colorpanel-data">
                        <table>
                            <tr>
                                <td  class='taxname'></td>
                                <td colspan=10><table id="color-legend-table"> </table></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div id="glass-bg" class="idle" style="display:none; position:absolute; top:0; left:0; z-index: 10">
        <span>
            <div id="glass-busy-icon" style="height: 300px"></div>
            <span id="glass-text"></span>
        </span>
    </div>

    <div id="data-dialog" title="Basic dialog">
        <div id="local-file">
            <table><tr>
                <td> <input type="file" id="file-input" style="width:400px" accept=".json"/> </td>
            </tr></table>
        </div>
        <div id="dialog-txt">dialog text here.</div>
    </div>

    <div id="search-pan">
        <table>
            <tr>
                <td class="search-td"><img src="images/cancel.png" title="cancel search" onclick="clearSearchData(true)"></td>
                <td class="search-td" style="padding-left : 10px; padding-right: 2px ">From : </td>
                <td class="search-td">
                    <select id="search-select">
                        <option>NCBI ID</option>
                        <option value="superkingdom">superkingdom</option>
                        <option value="phylum">phylum</option>
                        <option value="class">class</option>
                        <option value="order">order</option>
                        <option value="family">family</option>
                        <option value="genus">genus</option>
                        <option value="species">species</option>
                    </select>
                </td>
                <td class="search-td" style="padding-left: 10px; padding-right: 10px">
                    <input id="search-val" type='text' style="padding-left: 4px; border: 1px solid #888888; width:160px">
                </td>
                <td style="width: 24px">
                    <img id="search-btn" src="images/search.png" title="search" onclick="doSearch()">
                </td>
            </tr>
        </table>
    </div>

    <div type="hidden">
        <input id="jscolor-host" class="jscolor {styleElement:'styleSpan',value:'ffffff', onFineChange:'colorPickerCallback(this)'}}">
    </div>

    <div id='taxon-text' class='tip'></div>
</body>
</html>
