<!doctype html>
<html>
<head>    
<title>Genome Constellation Demostration: find genome neighbors</title>
</head>
    
<body>
    <h2>Genome Constellation Demo: Search and Visualize</h2>
	<p>Quickly find known reference genomes that are highly similar to your query, visualize their connections in the conext of 7,000 unique reference genomes</p>
    <h4>Upload a genome to begin</h4>
	
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>Query Name (optional): <input type="text" name="name1" autocomplete="off">
        <p> Genome(s) (<font color="red">required</font>): <input type="file" name="genome1" autocomplete="off" required>
		<p>If you just want to see the constellation map of known reference genomes without uploading anything, click <a href="/showmap" target="_blank">here</a>.
		<p>Requriements:
		<ul>
		<li>Currently we only support uploading a single file, the file needs to have an extension of "fa", "fasta", or "fna". 
		<li>All the sequences of a genome need to be in a single file. 
		<li>For multiple genomes, please put them in a zip archive.
		<li>Only genomes between 200Kb and 200Mb may produce meaningful results.
		<li>The upload size is capped at 200MB. For large single fasta files, please compress them using gzip. 
		<li>For non-standard requests or more information, please see the
    <a href="https://bitbucket.org/berkeleylab/jgi-genomeconstellation" target="_blank"> Genome Constellation Project page.</a></p>
		</ul>
		</p>
		<p></p>
		<p>Reference Spectra to use: 
			<select name="reference">
  				<option value="7k" selected>RefSeq 7k (less sensitive, fastest)</option>
				<option value="img">IMG 100k (more sensitive, fast)</option>
				<option value="imgfull" disabled>IMG 100k (most sensitive, fast)</option>
			</select>
		</p>
		<p>Minmum ANI (between 60-100, default 70.0. Smaller is more senstive):
                        <input type="text" name="minScore" value="70.0"  autocomplete="off">
		<p>Maximum number of neighbors of each genome (default 3):
                        <input type="text" name="nn" value="3"  autocomplete="off">
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>

<h5>
<p>Please contact Zhong Wang @ lbl . gov if you have problems using this app.
    </body>
</html>
