.tab, .left-tab, .right-tab {
    position : fixed;
    height : 36px;
    width : 36px;
    top : 40px;
    background-color: #fff;

    padding: 6px;
    vertical-align : top;

    opacity: 0.4;
    -moz-border-radius : 6px;
    -webkit-border-radius : 6px;
    -khtml-border-radius : 6px;
    border-radius : 6px;
}

.left-tab{
    left : -6px;
}

.right-tab{
    right : -6px;
}

.tab:hover {
    opacity: 1.0; /* css standard */
}

.dismiss, .sub-menu{
    cursor : pointer;
    width  : 14px;
    height : 14px;
}
.dismiss-container{
    padding: 2px;
    border-radius : 6px;
}
.dismiss-container:hover{
    background-color : #ddd;
}

#usage{
    text-align: left;
    color: #666;
    left: 10px;
    font-size: 12px;
    font-family: Verdana;
    font-weight: bold;

    left:10px;
    top:30px;
    width:auto;
    position:fixed;

    display:none;
    background-color: #fff;
    padding: 10px;
    opacity: 0.3;
    -moz-border-radius : 6px;
    -webkit-border-radius : 6px;
    -khtml-border-radius : 6px;
    border-radius : 6px;
    border-radius : 6px;

}

#usage:hover, #config:hover, #dismiss-usage:hover {
    opacity: 1;
}

#toolbox {
    position : fixed;
    bottom: 40px;
    font-size: 12px;
    right: 10px;
    width: 30px;

    background-color: #fff;
    opacity: 0.3;
    -moz-border-radius : 4px;
    -webkit-border-radius : 4px;
    -khtml-border-radius : 4px;
    border-radius : 4px;

    z-index: 1;
}
#toolbox td{
    padding: 4px;
}
#toolbox:hover{
    opacity: 1;
}
#toolbox td{
    border-radius : 10px;
}

#toolbox td:hover{
    background-color: #ddd;
}

table.config-items td.control-label {
    white-space : nowrap;
    width : 50px !important;
    text-align: right;
    padding: 1px;
    font-size: 12px;
    font-family: Verdana;
    font-weight: bold;

}
table.config-items td{
    padding: 2px;
}
table.config-items td label{
    text-align: right;
}
table.config-items td input{
    width : 60px;
    text-align: right;
}

.colorpanel-container, .colorpanel-container-solid{
    position : fixed;
    top: 30px;
    left: 4px;
    width: auto;
    max-height: auto;
    background-color: #80ffff;  /* GROUP_SELECT_COLOR */
    
    -moz-border-radius : 8px;
    -webkit-border-radius : 8px;
    -khtml-border-radius : 8px;
    border-radius : 8px;
    padding : 2px;
    display: none;
}

.colorpanel-container {
    opacity: 0.3;
}
.colorpanel-container-solid {
    opacity: 1;
}

#colorpanel-data{
    position : fixed;
    overflow: auto;
    width: auto;
    max-height: 600px;
    background-color: #ffffff;
}

/*table#color-legend-table {
    min-width: 110px;
}*/

table#color-legend-table td {
    padding: 4px;
    font-size: 12px;
    text-align: right;
}

div.g-color{
    display: block;
    position: relative;
    height : 14px;
    width : 14px;
    border-radius : 7px;
    text-align: center;
    vertical-align: middle;
    line-height:  14px;
    font-size: 14px;
}

div.g-color:hover{
    cursor: pointer;
}

#colorpanel-top:hover{
    opacity: 1
}

.tip{
    position: absolute;
    background: #fff;
    padding-left: 4px;
    padding-right: 4px;
    top:2px;
    left:20px;
    width:auto;
    border-radius : 2px;
    border: solid 1px #999;
    opacity: 0;
}
#canvas-bg-color, #link-color{
    font-size:12px;
    font-family:monospace;
    padding:2px;
    border:1px solid #999;
    border-radius : 4px;
    text-align: center;
    cursor: pointer
}
#canvas-bg-color{
    background-color:#000;
    color: #fff;
}
#link-color{
    background-color:#fff;
    color: #000;
}
input#dim-alpha, input#link-alpha{
    font-size:12px;
    font-family:monospace;
    width:60px;
    padding-right: 4px;
}